.heading-text-animation {
  animation: movesUp 1s ease-in;
}

.luxury-text-animation {
  animation: movesUp 2s ease-out 2.15s;
  animation-fill-mode: backwards;
}

.serenity-text-animation {
  animation: movesDown 2s ease-out 2.15s;
  animation-fill-mode: backwards;

  @media only screen and (max-width: $bp-small) {
    animation: movesUp 2s ease-out 2.15s;
    animation-fill-mode: backwards;
  }
}

.button-animation {
  animation: movesUp 2s ease-in 2.1s;
  animation-fill-mode: backwards;
}

.movesUp-animation {
  animation: movesUp 2s ease-in;
}

.zoomIn-animation {
  animation: zoomIn 2s ease-in 2.1s;
  animation-fill-mode: backwards;
}

.movesDown-animation {
  animation: movesDown 2s ease-in;
}

.movesInLeft-animation {
  animation: moveInLeft 2s ease-in-out;
}
