/* HEADER (NAVIGATION & HERO) */
.header {
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-inline: 3rem;
    padding-top: 2rem;
    padding-inline: 1rem;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media only screen and (max-width: $bp-medium) {
    height: 80vh;

    &__text-box {
      top: 40%;
    }
  }
}

/* ALL SECTIONS */
section {
  margin-block: var(--section-margin-block);
}

/* SECTION DISCOVER AND ISLAND LAYOUT */
.section__discover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    height: fit-content;
    flex-direction: column;
    padding-block: 2rem;
  }
}

.section__island {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    padding-block: 2rem;

    .island__header {
      order: -1;
    }
  }
}

/* SECTION ACTIVITIES */
.section__activities {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    height: 50vh;
  }

  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

/* SECTION VACATIONS & SPONSORS LAYOUT */
.section__vacations,
.section__sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SECTION VACATIONS */
.section__vacations {
  height: 150rem;

  @media only screen and (max-width: $bp-medium) {
    height: 130rem;
  }
}

/* SECTION SPONSORS */
.section__sponsors {
}

/* FOOTER */
.footer {
  background-color: black;
  color: #fff;
  padding: 4rem;
}
